<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width" />
      <title>DREAM HOTEL | Accueil</title>
      <link rel="stylesheet" href="css/components.css">
      <link rel="stylesheet" href="css/responsee.css">
      <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="owl-carousel/owl.theme.css">
      
      <link rel="stylesheet" href="css/template-style.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="js/jquery-ui.min.js"></script>    
      <script type="text/javascript" src="js/modernizr.js"></script>
      <script type="text/javascript" src="js/responsee.js"></script>
      <script type="text/javascript" src="js/template-scripts.js"></script> 
                 
   </head>
   <body class="size-1140">
      
      <header>
         <div id="topbar">
            <div class="line">
               <div class="s-12 m-6 l-6">
                  <p><span class="item-contact">CONTACT : </span><strong>+330 1 05 98 59 71</strong> | <strong>holiday@dream.fr</strong></p>
               </div>
               <div class="s-12 m-6 l-6">
                  <div class="social right">
                     <a><i class="icon-facebook_circle"></i></a>
                     <a><i class="icon-twitter_circle"></i></a>
                     <a><i class="icon-google_plus_circle"></i></a>
                     <a><i class="icon-instagram_circle"></i></a>
                  </div>
               </div>
            </div>  
         </div> 
         <nav>
            <div class="line">
               <div class="s-12 l-2">
                  <p class="logo"><img src="img/logoSmall.png" alt=""></p>
               </div>
               <div class="top-nav s-12 l-10">
                  <p class="nav-text"></p>
                  <ul class="right">
                     <li class="active-item"><a href="#carousel">Accueil</a></li>
                     <li><a href="">Chambre</a></li>
                     <li><a href="">Salle</a></li>
                     <li><a href="">ACTIVITES & LOISIRS</a></li>
                     <li><a href="">ÉVÉNEMENTS</a></li>
                     <li><a href="">Contact</a></li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>  
      <section>
         <!-- CAROUSEL --> 
         <div id="carousel">
            <div id="owl-demo" class="owl-carousel owl-theme"> 
               <div class="item">
                  <img src="img/bg.jpg" alt="">
                  <div class="line"> 
                     <div class="text hide-s">
                        <div class="line"> 
                          <div class="prev-arrow hide-s hide-m">
                             <i class="icon-chevron_left"></i>
                          </div>
                          <div class="next-arrow hide-s hide-m">
                             <i class="icon-chevron_right"></i>
                          </div>
                        </div> 
                        <h2>DREAM HOTEL</h2>
                        <p>Un hôtel, un mythe indissociable de Bordeaux, de son histoire, de ses couleurs, de ses traditions.</p>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <img src="img/bg2.jpg" alt="">
                  <div class="line">
                     <div class="text hide-s"> 
                        <div class="line"> 
                          <div class="prev-arrow hide-s hide-m">
                             <i class="icon-chevron_left"></i>
                          </div>
                          <div class="next-arrow hide-s hide-m">
                             <i class="icon-chevron_right"></i>
                          </div>
                        </div> 
                        <h2>IMPERIAL CLUB Le LUXE DE LA SERINITE</h2>
                        <p>Profitez au maximum de votre séjour, obtenez un surclassement vers une chambre Imperial Club et bénéficiez d'avantages d'une valeur supérieure.</p>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <img src="img/bg3.jpg" alt="">
                  <div class="line">
                     <div class="text hide-s">
                        <div class="line"> 
                          <div class="prev-arrow hide-s hide-m">
                             <i class="icon-chevron_left"></i>
                          </div>
                          <div class="next-arrow hide-s hide-m">
                             <i class="icon-chevron_right"></i>
                          </div>
                        </div> 
                        <h2>MEILLEUR TARIF GARANTI</h2>
                        <p>Réservez directement auprès de nous pour bénéficier du meilleur tarif disponible sur n'importe quelle chambre ou suite. Offre garantie.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
         <div id="first-block">
            <div class="line">
               <h1>Déscription</h1>
               <br>
               <p>Notre hôtel vous accueillent à Bordeaux. Pour vos voyages d'affaires, des vacances en famille ou un week-end... notre hôtel est adapté à tous les budgets, de l’hôtel de luxe à l’hôtel économique.</p>
               <div class="s-12 m-4 l-2 center"><a class="white-btn" href="#contact">Réserver</a></div>
            </div>
         </div>
         
         
         
         <div id="our-work">
            <div class="line">
               <div class="tabs">
                  <div class="tab-item tab-active">
                    <div class="tab-content">
                      <div class="margin">
                        <div class="s-12 m-6 l-3"><a class="our-work-container lightbox margin-bottom"><div class="our-work-text"><h4><span class="item-contact">Trouvez l'inspiration</span></h4><p>Découvrez les moments préférés de nos clients dans le monde entier.</p></div><img src="img/por.jpg" alt=""></a></div>
                        <div class="s-12 m-6 l-3"><a class="our-work-container lightbox margin-bottom"><div class="our-work-text"><h4><span class="item-contact">Occupez tout le lit</span></h4><p>Chez Dream Hotel, cela a du bon de ne pas dormir à la maison.</p></div><img src="img/por4.jpg" alt=""></a></div>
                        <div class="s-12 m-6 l-3"><a class="our-work-container lightbox margin-bottom"><div class="our-work-text"><h4><span class="item-contact">Envie d'évasion</span></h4><p>Economisez jusqu'à 25% sur plus de 80 destinations dans 180 hôtels partenaires.</p></div><img src="img/por6.jpg" alt=""></a></div>
                        <div class="s-12 m-6 l-3"><a class="our-work-container lightbox margin-bottom"><div class="our-work-text"><h4><span class="item-contact">Suivez nos actualités</span></h4><p>Découvrez nos tout nouveaux hôtels urbains, centres de villégiature et hôtels célébrant l'art de vivre.</p></div><img src="img/por3.jpg" alt=""></a></div>
                      </div>
                    </div>  
                  </div>
               </div>
            </div>
         </div>         
         <div id="services">
            <div class="line">
               <h2 class="section-title">Services <span class="color-et">&</span> prestations</h2>
               <div class="margin">

                  <div class="s-12 m-6 l-22 margin-bottom">
                     <img src="img/dinner.png" class="img-center">
                     <p class="img-p">Restaurant bistronomique</p>
                  </div>
                  <div class="s-12 m-6 l-22 margin-bottom">
                     <img src="img/tab.png" class="img-center">
                     <p class="img-p">Terrasse vue sur Gordes</p>
                  </div>
                  <div class="s-12 m-12 l-22 margin-bottom">
                     <img src="img/swimming-pool.png" class="img-center">
                     <p class="img-p">Piscine chauffée en été</p>
                  </div>
                  <div class="s-12 m-6 l-22 margin-bottom">
                     <img src="img/wifi.png" class="img-center">
                     <p class="img-p">WIFI gratuit</p>
                  </div>
                  <div class="s-12 m-6 l-22 margin-bottom">
                     <img src="img/parking.png" class="img-center">
                     <p class="img-p">Parking privé gratuit</p>
                  </div>
                  <div class="s-12 m-12 l-3 margin-bottom">
                     <img src="img/disabled.png" class="img-center plus">
                     <p class="img-p">Accessible PMR</p>
                  </div>
                  <div class="s-12 m-12 l-3 margin-bottom">
                     <img src="img/snow.png" class="img-center plus">
                     <p class="img-p">Chambres climatisées</p>
                  </div>
                  <div class="s-12 m-12 l-3 margin-bottom">
                     <img src="img/towel.png" class="img-center plus">
                     <p class="img-p">Blanchisserie</p>
                  </div>
                  <div class="s-12 m-12 l-3 margin-bottom">
                     <img src="img/dog.png" class="img-center plus">
                     <p class="img-p">Animaux admis</p>
                  </div>
               </div>
            </div>
         </div>
         
         <div id="latest-news">
            <div class="line">
              <h2 class="section-title">CE QUE NOS CLIENTS PENSENT de nous</h2> 
              <div class="margin">
                <div class="s-12 m-6 l-6">
                  <div class="s-12 l-2">
                    <div class="news-date">
                      <p class="day">28</p><p class="month">Mars</p><p class="year">2017</p>
                    </div>
                  </div>
                  <div class="s-12 l-10">
                    <div class="news-text">
                      <h4>Marie Desnier</h4>
                      <p>J'ai découvert DreamHotel pour un évènement, je n'ai pas eu la chance d'y séjourner. C'est un lieu prestigieux et intemporel, un véritable régal pour les yeux.</p>
                      <img src="img/star.png" class="align" alt="">
                    </div>
                  </div>   
                </div> 
                <div class="s-12 m-6 l-6">
                  <div class="s-12 l-2">
                    <div class="news-date">
                      <p class="day">12</p><p class="month">Novembre</p><p class="year">2017</p>
                    </div>
                  </div>
                  <div class="s-12 l-10">
                    <div class="news-text">
                      <h4>William Oliver</h4>
                      <p>Tea time au salon Proust très réussi, pâtisserie parfaitement exécutées, chocolat chaud impeccable, lieu extraordinaire et service au top. Seul point a améliorer serait le léger manque de variété dans l assortiment, puisque les saveurs mises en avant sur les 3 étages de biscuits sont un peu redondantes. </p>
                      <img src="img/4.png" class="align" alt="">
                    </div>
                  </div>   
                </div>  
              </div>
            </div>
         </div> 
         
         <div id="contact">
            <div class="line">
               <h2 class="section-title">Contact</h2>
               <div class="margin">
                  <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
                    <img src="img/contact.jpg" alt="">
                  </div>
                  <div class="s-12 m-12 l-4 margin-bottom right-align">
                     <h3>Cordonnées</h3>
                     <address>
                        <p><strong>Adresse :</strong> 151 Rue Bouthier, 33100 Bordeaux</p>
                        <p><strong>Ville :</strong> France-Europe</p>
                        <p><strong>E-mail :</strong> holiday@dream.fr</p>
                     </address>
                     <br />
                     <h3>Social</h3>
                     <p><i class="icon-instagram icon"></i> <a href="">Instagram</a></p>
                     <p><i class="icon-facebook icon"></i> <a href="">Facebook</a></p>
                     <p class="margin-bottom"><i class="icon-twitter icon"></i> <a href="">Twitter</a></p>
                  </div>
                  <div class="s-12 m-12 l-5">
                    <h3>Nous contacter</h3>
                    <form class="customform" action="">
                      <div class="s-12"><input name="" placeholder="Email" title="Your e-mail" type="text" /></div>
                      <div class="s-12"><input name="" placeholder="Nom" title="Your name" type="text" /></div>
                      <div class="s-12"><textarea placeholder="Message" name="" rows="5"></textarea></div>
                      <div class="s-12 m-12 l-4"><button class="color-btn" type="submit">Envoyer</button></div>
                    </form>
                  </div>                
               </div>
            </div>
         </div>
         
         <div id="map-block">  	  
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9513.201118541629!2d-0.5739557197510576!3d44.856357857031504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd552882e31e0aad%3A0x6c3f2bf2feecfd09!2s151+Rue+Bouthier%2C+33100+Bordeaux!5e0!3m2!1sfr!2sfr!4v1513792253514" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
         </div>
      </section>
      
      <footer>
         <div class="line">
            <div class="s-12 l-6">
               <p>Copyright 2017, Vincent GUSMINI & Geroges NGUYEN & Hamza ESSAMAMI</p>
               <p>Tous droits réserves.</p>
            </div>
         </div>
      </footer>
      <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
      <script type="text/javascript">
         jQuery(document).ready(function($) {
            var theme_slider = $("#owl-demo");
            $("#owl-demo").owlCarousel({
                navigation: false,
                slideSpeed: 300,
                paginationSpeed: 400,
                autoPlay: 6000,
                addClassActive: true,
             
                singleItem: true
            });
            $("#owl-demo2").owlCarousel({
                slideSpeed: 300,
                autoPlay: true,
                navigation: true,
                navigationText: ["&#xf007","&#xf006"],
                pagination: false,
                singleItem: true
            });
        
          
            $(".next-arrow").click(function() {
                theme_slider.trigger('owl.next');
            })
            $(".prev-arrow").click(function() {
                theme_slider.trigger('owl.prev');
            })     
        }); 
      </script>
   </body>
</html>